html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(135deg) brightness(102%) contrast(104%);

  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-seperate: #ededf6;
}
